*.weights
*.jpg
/WGAN/cocoapi
*.json
/WGAN/inpainting/annotations_trainval2014.zip
/WGAN/inpainting/annotations_traintest2014.zip
*.png
/WGAN/.ipynb_checkpoints/
/WGAN/inpainting.tar.bz2
/WGAN/inpainting/cocorealval2014.zip
/WGAN/inpainting/cocorealtrain2014.zip
/WGAN/inpainting/cocorealtrain2014/
/WGAN/inpainting/samples/
/WGAN/inpainting/annotations/
/WGAN/inpainting/ce_state
/WGAN/inpainting/wgan_307_state
/WGAN/inpainting/painter_*
/WGAN/models/
